body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: rgb(223, 38, 112);
  color: white;
  padding: 4%;
  width: 100%;
  position: fixed;
  display: flex;
  align-content: flex-start;
  gap: 6px;
  top: 0;
}

a {
  padding: 10px;
}

a:hover {
  background-color: #c5127d;
}

h1 {
  margin: 0;
  font-size: 1.4em;
}

main {
  background-color: #f1c9e8;
  padding: 15px;
  padding-top: 120px;
}

h2 {
  margin-top: 35px;
  font-size: 1.2em;
}

h3 {
  margin-top: 0;
  background-color: white;
  padding: 5px;
  border-bottom: 2px dashed rgb(168, 5, 5);
  font-size: 1em;
}

h3::selection {
  background-color: rgb(106, 93, 202);
  color: white;
}

#instruction {
  color: rgb(88, 85, 85);
  font-size: 0.9em;
}

ul {
  list-style: none;
  padding: 0;
}

.meal {
  margin-top: 15px;
}

.meal h4 {
  color: rgb(223, 38, 112);
  font-size: 1.3em;
  margin: 5px 0;
}

.meal section {
  display: flex;
}

.meal .description {
  font-size: 0.9em;
  color: #444;
  margin: 0;
  flex-grow: 1;
}

.meal .price {
  width: 100px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: right;
  vertical-align: middle;
  margin: 0;
}

#cart {
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 70%;
  right: 0.01%;
  background-color: rgb(106, 93, 202);
  color: #ddd;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1000;
}

#cart li {
  margin: 5px 10px;
}

#cart a {
  color: rgb(240, 232, 4);
}

#cart h4 {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
  color: #c5127d;
}

#cart p {
  margin: 0;
}

footer {
  padding: 0 15px;
  text-align: center;
  font-size: small;
}

@media (min-width: 960px) and (max-width: 1200px) {
  h2 {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  h2 {
    margin-top: 31px;
  }

  #cart {
    left: 55%;
    right: 0.01%;
  }
}

@media (min-width: 412px) and (max-width: 768px) {
  h2 {
    margin-top: -10px;
  }

  #cart {
    left: 45%;
    right: 0.01%;
  }
}

@media (max-width: 412px) {
  h2 {
    margin-top: -35px;
  }

  #cart {
    left: 30%;
    right: 0.01%;
  }
}
